.add-question-container {
    padding: 20px;
    font-family: "Droid Sans Mono Dotted", monospace;
    align-items: center;
}

.title {
    font-weight: bold;
}

.home {
    text-align: center;
    margin: auto;
    display: flex;
}


body {
    align-items: center
}