body{
    background-color: #F1F1F1;
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}


.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}


.menu{
  overflow: hidden;
}

table, th, td{
    text-align: center;
    border-collapse: collapse;
    border: solid 1px;
}

th, td{
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even){
    background-color: white;
}

tr:nth-child(odd){
    background-color: lightgray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li {
  display: inline;
}

a{
    color: black;
}

a:link {
    text-decoration: none;
}

.button {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.button:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}

/*.container {*/
/*    padding: 20px;*/
/*}*/

.question-container {
    padding: 20px;
}

.answer-container {
    padding: 20px;
}

.comments-answers-container {
    padding: 20px;
}

.comments-question-container {
    padding: 20px;
}

.home-button-container {
    text-align: center;
    padding: 20px;
}

.question-tags {
    padding: 20px;
}

/*.five-question-table{*/
/*    border: 5px solid;*/
/*}*/

.home-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

