.question-title {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    text-align: center;
}


.add-question-container {
    border: 1px solid;
    padding: 10%;
}