.cards-container {
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    justify-content: center;


}


a{
    color: black;
}

a:link {
    text-decoration: none;
}

body{
    background-color: #F1F1F1;
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

.title {
    padding: 20px;
}