<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/add_question.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="add-question-container">
            <h3 class="title">Add a new question</h3>
                <form method="post" action="" name="user_form" enctype="multipart/form-data">
                <p>Message:</p>
                <label>
                    <textarea cols="40" rows="5" name="message" required></textarea>
                </label>
                <p>Title:</p>
                <label>
                    <input name="title" required>
                </label>
                    <p>Image: </p>
                    <input type="file" id="img" name="img" required>
                <br/>
                <br/>
                <button class="btn btn-primary" type="submit" value="submit" name="submit_button">Add question</button>
            </form>
    </div>
</body>
<footer>
    <button class="home" type="button"><a href="{{ url_for('index_page') }}"> Home </a></button>
</footer>
</html>