<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new tag</title>
</head>
<body>
    <h2>Choose from existing tags</h2>
    <form method="post" action="">
        <input type="hidden" name="building" value="caves">
        <select name="tag-select">
        {% for tag in current_tags %}
            <option value="{{ tag.name }}">{{ tag.name }}</option>
        {% endfor %}
        </select>
        <button type="submit" value="submit" name="submit_button">Use tag</button>
    </form>
        <br>
    <h2>Add a new tag</h2>
    <form method="post" action="" name="user_form" enctype="multipart/form-data">
        <input type="hidden" name="building" value="casinos">
        <input  name="tag-name" required>
        <br>
        <br>
        <button type="submit" value="submit" name="submit_button">Add new tag</button>
    </form>
</body>
</html>