<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/add_and_edit.css') }}">

</head>
<body>
    {% if 'user' in session %}
        {% if comment_user_id == session['user_id'] %}
            <div class="header"><h1>Edit comment</h1></div>
                <div class="container">
                    <form action="" method="post">
                        <h3>Message:</h3>
                        {% for com in comment %}
                        <textarea cols="40" rows="5" name="message" required>{{ com.message }}</textarea>
                        {% endfor %}
                        <br/>
                        <br/>
                        <button type="submit" class="button">Edit</button>
                    </form>
                <button class="button" type="button"><a href="{{ url_for('individual_q_and_a', question_id=question_id) }}"> Back </a></button>
                </div>
            {% else %}
                <div class="access-denied">
                    <h4>You're not the user of this comment, you don't have the right to edit this comment.</h4>
                    <a href="{{ url_for('login_page') }}"> Login</a>
                </div>
            {% endif %}
    {% else %}
        <div class="access-denied">
            <h4>You're not the user of this comment, you don't have the right to edit this comment.</h4>
            <a href="{{ url_for('login_page') }}"> Login</a>
        </div>
    {% endif %}
</body>
</html>