<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
    {% if 'user' in session %}
        {% if question_user_id == session['user_id'] %}
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <h1 class="navbar-brand">Add a new question</h1>
                </nav>
            </div>
                <div class="container-fluid">
                    <form method="post" action="" name="user_form" enctype="multipart/form-data">
                    {% for question in questionz %}
                     <div class="mb-3">
                         <h3>Title</h3>
                         <input type="text" class="form-control" id="exampleFormControlInput1" name="title" value="{{ question.title }}" required>
                     </div>
                    <div class="mb-3">
                        <h3>Message:</h3>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message" required>{{ question.message }}</textarea>
                    </div>
                    <br/>
                    <br/>
                    <button type="submit" class="btn btn-primary mb-3">Edit</button>
                    <a class="nav-link" href="{{ url_for('individual_q_and_a', question_id=question.id) }}"> Back </a>
                    {% endfor %}
                    </form>
                </div>
           {% else %}
            <div class="access-denied">
                <h4>You're not the user of this question, you don't have the right to edit this comment.</h4>
                <a href="{{ url_for('login_page') }}"> Login</a>
            </div>
        {% endif %}
    {% else %}
        <div class="access-denied">
            <h4>You're not the user of this question, you don't have the right to edit this comment.</h4>
            <a href="{{ url_for('login_page') }}"> Login</a>
        </div>
    {% endif %}
</body>
</html>