<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit question</title>
        <h3>Edit question</h3>
        <form method="post" action="" name="user_form" enctype="multipart/form-data">
            {% for question in questionz %}
            <p>Title:</p>
            <input cols="40" rows="5" name="title" value="{{ question.title }}" required>
        <p>Message:</p>
            <textarea cols="40" rows="5" name="message" required>{{ question.message }}</textarea>
            {% endfor %}
            <br/>
        <br/>
        <button type="submit" value="submit" name="submit_button">Edit</button>
    </form>
</head>
<body>

</body>
</html>