<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Question</h1>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
            <th>Delete</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{ question.title }}</td>
            <td>{{ question.message }}</td>
            {% if question.image != None %}
                <td><img src="{{url_for('static', filename='images/' + question.image)}}" width="100" height="100" alt="question image"></td>
            {% else %}
                <td>No image</td>
            {% endif %}
            <td><a href="{{url_for('delete_question', question_id=question.id)}}"> X </a></td>
        </tr>
        {% endfor %}
    </table>
    <h1>Answers</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Submission time</th>
            <th>Vote number</th>
            <th>Question id</th>
            <th>Message</th>
            <th>Image</th>
        </tr>
        {% for answer in answers %}
        <tr>
            <td>{{ answer.id }}</td>
            <td>{{ answer.submission_time }}</td>
            <td>{{ answer.vote_number }}</td>
            <td>{{ answer.question_id }}</td>
            <td>{{ answer.message }}</td>
            {% if answer.image != None %}
                <td><img src="{{url_for('static', filename='images/' + answer.image)}}" width="100" height="100" alt="answer image"></td>
            {% else %}
                <td>No image</td>
            {% endif %}
            <td><a href="{{url_for('delete_answer', answer_id=answer.id)}}"> X </a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('index_page') }}"> Home </a>
</body>
</html>