<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List stories</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h2 class="question-title">Question table</h2>
    <table class="table" border="1">
        <tr>
            <th>Id</th>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        {% for dat in data %}
        <tr>
            <td><a href="{{ url_for('individual_q_and_a', question_id = dat.id) }}">{{ dat.id }}</a></td>
            <td>{{ dat.submission_time }}</td>
            <td>{{ dat.view_number }}</td>
            <td>{{ dat.vote_number }}</td>
            <td>{{ dat.title }}</td>
            <td>{{ dat.message }}</td>
        </tr>
        {% endfor %}
    </table>
    <button type="button"><a href="{{ url_for('add_question_page') }}">Add question</a></button>
</body>
</html>