<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List stories</title>
    <link rel= "stylesheet" href= "{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
    <div class="header" id="grad1"><h1 class="question-title">Taraful Codecool Forum</h1></div>
    <div class="container">
    <div class="menu" id="grad2"><ul>
        <li><button class="new-button" type="button"><a href="{{ url_for('add_question_page') }}">Add question</a></button></li>
        <li><div class="sort">
            <form>
                <select name="order_criteria">
                    <option value="title">Title</option>
                    <option value="submission_time">Submission time</option>
                    <option value="view_number">View number</option>
                    <option value="vote_number">Vote number</option>
                    <option value="message">Message</option>
                </select>
                <select name="order_direction">
                    <option value="ASC">Ascending</option>
                    <option value="DESC">Descending</option>
                </select>
                <button class="new-button sort-btn" type="submit" >Sort</button>
            </form>
        </div></li>
    </ul></div>

    <div class="table"><table class="table">
        <tr>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
        </tr>
        {% for dat in data %}
        <tr>
            <td>{{ dat.submission_time }}</td>
            <td>{{ dat.view_number }}</td>
            <td>{{ dat.vote_number }}</td>
            <td><a href="{{ url_for('individual_q_and_a', question_id = dat.id) }}">{{ dat.title }}</a></td>
            <td>{{ dat.message }}</td>
            {% if not dat.image %}
            <td>No image</td>
            {% else %}
            <td><img src="{{url_for('static', filename='images/' + dat.image)}}" width="100" height="100" alt="question image"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table></div></div>
    <div id="all-questions-btn">
        <button class="new-button" type="button"><a href="{{ url_for('tags_page') }}"> Used tags </a></button>
    </div>
    <div class="search-box">
         <h3>Search in the DB</h3>
          <form method="post" action="">
            <input type="hidden" name="searching" value="searcher">
            <input type="text" name="search-input">
            <button class="new-button" type="submit">Submit</button>
          </form>
    </div>
    <div class="register">
        <a href="{{ url_for('registration_page') }}">Register</a>
    </div>
    <div class="login-container">
        <a href="{{ url_for('login_page') }}">Login</a>
    </div>
    {% if 'user' in session %}
    <div class="logout">
        <a href="{{ url_for('logout_page') }}">Logout</a>
    </div>
    {% endif %}
</body>
</html>